li.rocket_list {
  list-style: none;
  display: flex;
  padding: 0 70px;
  margin-top: 40px;

  > div:first-of-type {
    img {
      width: 280px;
      height: 200px;
    }
  }

  > div:last-of-type {
    margin-left: 20px;

    > h2 {
      margin: 0;
      margin-top: -5px;
    }

    > p {
      line-height: 1.5em;

      span{
        padding: 2px 5px;
        background: green;
        color: #fff;
        border-radius: 3px;
        font-size: 12px;
        margin-right: 10px;
      }

      a {
        margin-left: 8px;
        font-size: 14px;
        // text-decoration: none;
        color: blue;
      }
    }

    button {
      border: none;
      background: blue;
      padding: 10px;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-family: 'Ubuntu';

      &.cancel {
        background: #fff;
        border: solid 1px red;
        color: red;

        &:hover {
          background: red;
          color: #fff;
        }
      }
    }
  }
}
